<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="bg-light">

<header>
  <%- include('../partials/header'); %>
</header>

<main role="main" class="container">
  <div class="row">
    <div class="col-md">
      <a class="nav-link" href="/inbox/<%= req.params.username %>?<%= new URLSearchParams(query) %>">
        <i class="bi bi-arrow-left"></i>&nbsp;Back to Inbox
      </a>
    </div>
    <div class="col-md text-right">
      <% if (email) { %>
        <a class="action" href="/inbox/<%= req.params.username %>/<%= req.params.id ?? email.id %>/delete?<%= new URLSearchParams(query) %>" title="Delete the email" onclick="return confirm('Delete this email?');">
          <i class="bi bi-trash""></i>
        </a>
        <a class="action" href="javascript:void(0);" onclick="window.print();" title="Print the email page">
          <i class="bi bi-printer""></i>
        </a>
        <a class="action" href="/inbox/<%= req.params.username %>/<%= req.params.id ?? email.id %>/download?<%= new URLSearchParams(query) %>" title="Download the email">
          <i class="bi bi-download""></i>
        </a>
        <a class="action" href="/inbox/<%= req.params.username %>/<%= req.params.id ?? email.id %>/forward?<%= new URLSearchParams(query) %>" title="Forward the email">
          <i class="bi bi-send-check"></i>
        </a>
      <% } %>
      <a class="action" href="<%= req.path %>?x-api-key=<%= token %>&type=json" title="JSON output of the email">
        <i class="bi bi-filetype-json""></i>
      </a>
    </div>
  </div>

  <% if (email) { %>
    <%- include('../partials/email/details', { email }); %>
  <% } else { %>
    Nothing to see...
  <% } %>
</main>

<footer class="footer">
  <%- include('../partials/footer'); %>
</footer>

<%- include('../partials/bootstrap'); %>

</body>
</html>
