<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="bg-light">

<header>
  <%- include('../partials/header', { errorPage: true }); %>
</header>

<main role="main" class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <span class="display-1 d-block">500</span>
        <div class="mb-4 lead">Looks like you've just broken something...</div>
        <a href="/?<%= new URLSearchParams(query) %>" class="btn btn-link">Pretend like nothing happened</a>
    </div>
  </div>
</main>

<footer class="footer">
  <%- include('../partials/footer'); %>
</footer>

<%- include('../partials/bootstrap'); %>

</body>
</html>
