<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="bg-light">

<header>
  <%- include('../partials/header'); %>
</header>

<main role="main" class="container">
  <div class="jumbotron">
    <h1 class="display-4">📨 Dispose Me</h1>
    <p class="lead">I'm a simple, disposable email service with an easy API access.</p>
    <hr class="my-4">

    <form method="GET" action="/inbox">
      <div class="input-group mb-3">
        <label for="username" class="col-sm-2 col-form-label">Your new inbox:</label>
        <% const usernameError = (locals.errors ?? []).find((error) => error.type === "field" && error.path === "username"); %>
        <input class="form-control col-sm-4 <%= usernameError ? 'is-invalid' : '' %>" type="text" id="username" value="<%= usernameError?.value %>" placeholder="Inbox name" aria-label="Inbox name" required>
        <input type="hidden" value="<%= query['x-api-key'] %>" name="x-api-key" <%= query['x-api-key'] ? "" : "disabled" %>>
        <div class="input-group-append">
          <span class="input-group-text">@<%= process.env.DOMAIN_NAME %></span>
          <button type="button" class="btn btn-outline-secondary" aria-label="Generate new username" onclick="generateUsername();">
            <i class="bi bi-repeat"></i>
          </button>
          <button type="submit" class="btn btn-primary" aria-label="Go to inbox">
            <i class="bi bi-box-arrow-in-right"></i>
          </button>
        </div>
        <% if (usernameError) { %>
          <div class="invalid-feedback">
            <%= usernameError.msg %>
          </div>
        <% } %>
      </div>
    </form>
  </div>
</main>

<footer class="footer">
  <%- include('../partials/footer'); %>
</footer>

<%- include('../partials/bootstrap'); %>

<script type="text/javascript">
  function generateUsername() {
    var my_chance = new Chance();
    var username = my_chance.name().replace(' ', '') + my_chance.integer({ min: 1, max: 99 });

    $('#username').val(username.toLowerCase());
  };

  $(function () {
    $("form").on( "submit", function(event) {
      var username = $('#username').val();
      var sanitizedUsername = encodeURIComponent(username);
      $('form').attr('action', `/inbox/${sanitizedUsername}`);
    });
  });
</script>

<!-- clipboard.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js" integrity="sha512-PIisRT8mFfdxx99gMs7WAY5Gp+CtjYYxKvF93w8yWAvX548UBNADHu7Qkavgr6yRG+asocqfuk5crjNd5z9s6Q==" crossorigin="anonymous"></script>

<!-- Chance.js -->
<script src="https://chancejs.com/chance.min.js" crossorigin="anonymous"></script>

</body>
</html>
