<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <script type="text/javascript">
    function initClipboard() {
      var clipboard = new ClipboardJS('.btn-clipboard');
      clipboard.on('success', function(e) {
        var icon = e.trigger.querySelector(".bi");
        var originalTitle = e.trigger.title;

        e.clearSelection();

        icon.classList.replace("bi-clipboard", "bi-check2")
        e.trigger.title = "Copied!"

        setTimeout(function() {
          icon.classList.replace("bi-check2", "bi-clipboard");
          e.trigger.title = originalTitle;
        }, 2e3);
      });
    };
  </script>
</head>
<body class="bg-light" onload="initClipboard();">

<header>
  <%- include('../partials/header'); %>
</header>

<main role="main" class="container">
  <div class="row">
    <div class="col-md">
      <h5>
        <b>public inbox: </b>
        <span id="email"><%= req.params.username %>@<%= process.env.DOMAIN_NAME %></span>
        <button class="btn btn-default btn-clipboard p-0" aria-label="Copy to clipboard" title="Copy to clipboard" data-clipboard-target="#email">
          <i class="bi bi-clipboard"></i>
        </button>
      </h5>
    </div>
    <div class="col-md text-right">
        <a class="action" href="<%= req.path %>/feed/?x-api-key=<%= token %>" title="RSS feed of the inbox">
          <i class="bi bi-rss"></i>
        </a>
        <a class="action" href="<%= req.path %>?x-api-key=<%= token %>&type=json" title="JSON output of the inbox">
          <i class="bi bi-filetype-json"></i>
        </a>
    </div>
  </div>
  <%- include('../partials/email/list', { emails }); %>
</main>

<footer class="footer">
  <%- include('../partials/footer'); %>
</footer>

<%- include('../partials/bootstrap'); %>

<!-- clipboard.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js" integrity="sha512-PIisRT8mFfdxx99gMs7WAY5Gp+CtjYYxKvF93w8yWAvX548UBNADHu7Qkavgr6yRG+asocqfuk5crjNd5z9s6Q==" crossorigin="anonymous"></script>

<!-- Chance.js -->
<script src="https://chancejs.com/chance.min.js" integrity="sha512-oTAa0uPPR+/hLt+vfEjg/YzxHaY/rbc1OKDjbB0bAt1w+kP2yQvg/g+cu8/c0QaMbDpI8ECMCl4YXCxLJPIinQ==" crossorigin="anonymous"></script>

</body>
</html>
