<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <% if (req.path === '/') { %>
    <a class="navbar-brand" href="/?<%= new URLSearchParams(query) %>">📨 Dispose Me</a>
  <% } else { %>
    <a class="navbar-brand" href="/inbox?<%= new URLSearchParams(query) %>">📨 Dispose Me</a>
  <% } %>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <% if (query.query) { %>
        <li class="nav-item <%= req.path === '/inbox' ? 'active' : '' %>">
          <a class="nav-link" href="/inbox?<%= new URLSearchParams(query) %>">Inbox</a>
        </li>
        <li class="nav-item <%= req.path === '/inbox/latest' ? 'active' : '' %>">
          <a class="nav-link" href="/inbox/latest?<%= new URLSearchParams(query) %>">Latest</a>
        </li>
      <% } %>
    </ul>
  </div>
  <% if (req.path !== '/') { %>
    <a class="navbar-text nav-link" href="/logout">Logout</a>
  <% } %>
</nav>
