<table class="table">
  <tbody class="table-body">
    <tr class="table-row">
      <th class="table-cell font-semibold bg-gray-50 w-32">Subject:</th>
      <td class="table-cell"><%= email.subject %></td>
    </tr>
    <tr class="table-row">
      <th class="table-cell font-semibold bg-gray-50">From:</th>
      <td class="table-cell"><%= email.from.format() %></td>
    </tr>
    <% if (email.to.length > 0) { %>
    <tr class="table-row">
      <th class="table-cell font-semibold bg-gray-50">To:</th>
      <td class="table-cell"><%= email.to.map((to) => to.address).join(', ') %></td>
    </tr>
    <% } %>
    <% if (email.cc.length > 0) { %>
    <tr class="table-row">
      <th class="table-cell font-semibold bg-gray-50">Cc:</th>
      <td class="table-cell"><%= email.cc.map((cc) => cc.address).join(', ') %></td>
    </tr>
    <% } %>
    <% if (email.bcc.length > 0) { %>
    <tr class="table-row">
      <th class="table-cell font-semibold bg-gray-50">Bcc:</th>
      <td class="table-cell"><%= email.bcc.map((bcc) => bcc.address).join(', ') %></td>
    </tr>
    <% } %>
    <tr class="table-row">
      <th class="table-cell font-semibold bg-gray-50">Received:</th>
      <td class="table-cell"><%= email.received.toGMTString() %></td>
    </tr>
    <% if (email.attachments.length > 0) { %>
    <tr class="table-row">
      <th class="table-cell font-semibold bg-gray-50">Attachments:</th>
      <td class="table-cell">
        <% for(var i = 0; i < email.attachments.length; i++) { %>
          <a class="badge-info mr-2" href="/inbox/<%= req.params.username %>/<%= email.id %>/attachment?filename=<%- encodeURI(email.attachments[i].filename) %>&x-api-key=<%= token %>" title="Download the attachment">
            <%= email.attachments[i].filename %> <i class="bi bi-download ml-1"></i>
          </a>
        <% } %>
      </td>
    </tr>
    <% } %>
</tbody>
</table>

<div class="mt-6 border rounded-lg overflow-hidden bg-white shadow-sm">
  <iframe id="msg_body" class="w-full" style="border: none; overflow: hidden;" title="Email Message Body" height="550" name="msg_body" marginheight="0" srcdoc="<%= email.body %>">
  </iframe>
</div>
