<table class="table table-hover table-sm table-striped">
  <tbody>
    <tr>
      <th>Subject:</th>
      <td><%= email.subject %></td>
    </tr>
    <tr>
      <th>From:</th>
      <td><%= email.from.format() %></td>
    </tr>
    <% if (email.to.length > 0) { %>
    <tr>
      <th>To:</th>
      <td><%= email.to.map((to) => to.address).join(', ') %></td>
    </tr>
    <% } %>
    <% if (email.cc.length > 0) { %>
    <tr>
      <th>Cc:</th>
      <td><%= email.cc.map((cc) => cc.address).join(', ') %></td>
    </tr>
    <% } %>
    <% if (email.bcc.length > 0) { %>
    <tr>
      <th>Bcc:</th>
      <td><%= email.bcc.map((bcc) => bcc.address).join(', ') %></td>
    </tr>
    <% } %>
    <tr>
      <th>Received:</th>
      <td><%= email.received.toGMTString() %></td>
    </tr>
</tbody>
</table>

<div class="well">
  <iframe id="msg_body" style="border: 1pem; overflow: hidden; background-color: white;" title="Email Message Body" width="100%" height="550" name="msg_body" marginheight="0" srcdoc="<%= email.body %>">
  </iframe>
</div>
