<table class="table">
  <thead class="table-header">
    <tr>
      <th scope="col" class="table-header-cell">#</th>
      <th class="table-header-cell">From</th>
      <th class="table-header-cell">Subject</th>
      <th class="table-header-cell">Received</th>
      <th class="table-header-cell"><i class="bi bi-paperclip"></i></th>
      <th class="table-header-cell"></th>
    </tr>
  </thead>
  <tbody class="table-body">
    <% for(var i = 0; i < emails.length; i++) { %>
      <tr data-id="<%= emails[i].id %>" class="table-row relative">
        <th scope="row" class="table-cell"><%= i + 1 %></th>
        <td class="table-cell"><%= emails[i].from %></td>
        <td class="table-cell">
          <span class="text-truncate inline-block max-w-md">
            <%= emails[i].subject %>
          </span>
        </td>
        <td class="table-cell"><%= emails[i].received.toGMTString() %></td>
        <td class="table-cell">
          <% if (emails[i].hasAttachments) { %>
            <i class="bi bi-paperclip"></i>
          <% } %>
        </td>
        <td class="table-cell"><a href="/inbox/<%= req.params.username %>/<%= emails[i].id %>?<%= new URLSearchParams(query) %>" class="stretched-link"></a></td>
      </tr>
    <% } %>
  </tbody>
</table>
