<table class="table table-hover table-sm table-striped">
  <tbody>
    <tr>
      <th>Subject:</th>
      <td><%= email.subject %></td>
    </tr>
    <tr>
      <th>To:</th>
      <td><%= email.to[0].address %></td>
    </tr>
    <tr>
      <th>From:</th>
      <td><%= email.from[0].address %></td>
    </tr>
    <tr>
      <th>Received:</th>
      <td><%= email.received.toString() %></td>
    </tr>
</tbody>
</table>

<div class="well">
  <iframe id="msg_body" style="border: 1pem; overflow: hidden; background-color: white;" title="Email Message Body" width="100%" height="550" name="msg_body" marginheight="0" srcdoc="<%= email.body %>">
  </iframe>
</div>